build/bin/*
build/CMakeFiles
build/lib
build/Testing
build/output
build/Makefile
build/*.cmake
Makefile
CMakeCache.txt
cmake_install.cmake
test_files/bin
performance_testing/*
build/_deps
CMake*Presets.json
*conan*.sh
# Ignore files without a file extension


